body {
	background-image: url(../images/outerBg.jpg);
	height: 100%;
	color: #66cc00;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	
}

header {
    height: 15%;	
	
}

footer {
	height: 15%;
	
}

#gamecontent {
	background-image: url(../images/bg.jpg);
	height: 70%;
}

.content {
	height: 100%;
	position: relative;
}

.container {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: auto;
}

.copyright {
	position: absolute;
	bottom: 0;
	right: 0;
}

section {
    font-size: 1.5em;
    
}

.rules {
	margin-top: 1em;
}

.button {
	background: rgba(0, 0, 0, 0);
	width: 300px;
	heigth: 150px;
	text-align: center;
	color: #66cc00;
	border-width: 0px;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
}

.button:hover {
	background: #0033FF;
	cursor: pointer;
}


.messages {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 2em;
}

.buttons {
	display: flex;
	justify-content: space-around;
	font-size: 1.5em;
}

.btn-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
}

#turnCounter {
	text-align: center;
	margin-top: 3em;
	font-weight: bold;
	font-size: 1.5em;
}